  <!-- Portfolio -->
  <div id="portfolio" class="section md-padding bg-grey">
    <!-- Container -->
    <div class="container">
      <!-- Row -->
      <div class="row">
        <!-- Section header -->
        <div class="section-header text-center">
          <h2 class="title">Clients</h2>
        </div>
        <!-- /Section header -->
        <!-- Work -->
        <div class="col-md-4 col-xs-6 work">
          <img class="img-responsive" src="./img/andorra.jpg" alt="">
          <div class="overlay"></div>
          <div class="work-content">
            <span>J. Cole</span>
            <h3>K.O.D.</h3>
            <div class="work-link">
              <a data-toggle="modal" data-target="#modal-jcole">
                <i class="fa fa-soundcloud"></i>
              </a>
              <a class="lightbox" href="./img/jcole.jpg">
                <i class="fa fa-search"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- /Work -->
        <!-- Work -->
        <div class="col-md-4 col-xs-6 work">
          <img class="img-responsive" src="./img/group1.jpg" alt="">
          <div class="overlay"></div>
          <div class="work-content">
            <span>Mantra</span>
            <h3>Bring Me The Horizon</h3>
            <div class="work-link">
              <a data-toggle="modal" data-target="#modal-mantra">
                <i class="fa fa-soundcloud"></i>
              </a>
              <a class="lightbox" href="./img/group1.jpg">
                <i class="fa fa-search"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- /Work -->
        <!-- Work -->
        <div class="col-md-4 col-xs-6 work">
          <img class="img-responsive" src="./img/work3.jpg" alt="">
          <div class="overlay"></div>
          <div class="work-content">
            <span>Category</span>
            <h3>Lorem ipsum dolor</h3>
            <div class="work-link">
              <a href="#">
                <i class="fa fa-external-link"></i>
              </a>
              <a class="lightbox" href="./img/work3.jpg">
                <i class="fa fa-search"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- /Work -->
        <!-- Work -->
        <div class="col-md-4 col-xs-6 work">
          <img class="img-responsive" src="./img/work4.jpg" alt="">
          <div class="overlay"></div>
          <div class="work-content">
            <span>Category</span>
            <h3>Lorem ipsum dolor</h3>
            <div class="work-link">
              <a href="#">
                <i class="fa fa-external-link"></i>
              </a>
              <a class="lightbox" href="./img/work4.jpg">
                <i class="fa fa-search"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- /Work -->
        <!-- Work -->
        <div class="col-md-4 col-xs-6 work">
          <img class="img-responsive" src="./img/work5.jpg" alt="">
          <div class="overlay"></div>
          <div class="work-content">
            <span>Category</span>
            <h3>Lorem ipsum dolor</h3>
            <div class="work-link">
              <a href="#">
                <i class="fa fa-external-link"></i>
              </a>
              <a class="lightbox" href="./img/work5.jpg">
                <i class="fa fa-search"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- /Work -->
        <!-- Work -->
        <div class="col-md-4 col-xs-6 work">
          <img class="img-responsive" src="./img/work6.jpg" alt="">
          <div class="overlay"></div>
          <div class="work-content">
            <span>Category</span>
            <h3>Lorem ipsum dolor</h3>
            <div class="work-link">
              <a href="#">
                <i class="fa fa-external-link"></i>
              </a>
              <a class="lightbox" href="./img/work6.jpg">
                <i class="fa fa-search"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- /Work -->
      </div>
      <!-- /Row -->
    </div>
    <!-- /Container -->
  </div>
  

    <!-- Testimonial -->
    <div id="testimonial" class="section md-padding">
        <!-- Background Image -->
        <div class="bg-img" style="background-image: url('./img/background3.jpg');">
            <div class="overlay"></div>
        </div>
        <!-- /Background Image -->
        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <div class="row">
                <!-- Testimonial slider -->
                <div class="col-md-10 col-md-offset-1">
                    <div id="testimonial-slider" class="owl-carousel owl-theme">
                        <!-- testimonial -->
                        <div class="testimonial">
                            <div class="testimonial-meta">
                                <img src="./img/perso1.jpg" alt="">
                                <h3 class="white-text">John Doe</h3>
                                <span>Web Designer</span>
                            </div>
                            <p class="white-text">Molestie at elementum eu facilisis sed odio. Scelerisque in dictum non consectetur a erat. Aliquam id diam maecenas
                                ultricies mi eget mauris.</p>
                        </div>
                        <!-- /testimonial -->
                        <!-- testimonial -->
                        <div class="testimonial">
                            <div class="testimonial-meta">
                                <img src="./img/perso2.jpg" alt="">
                                <h3 class="white-text">John Doe</h3>
                                <span>Web Designer</span>
                            </div>
                            <p class="white-text">Molestie at elementum eu facilisis sed odio. Scelerisque in dictum non consectetur a erat. Aliquam id diam maecenas
                                ultricies mi eget mauris.</p>
                        </div>
                        <!-- /testimonial -->
                    </div>
                </div>
                <!-- /Testimonial slider -->
            </div>
            <!-- /Row -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /Testimonial -->

    <!-- Modals-->
    <!-- Modal #1-->
    <div id="modal">
        <!-- <button type="button" class="btn btn-dark" data-toggle="modal" data-target=".bd-modal-lg"></button> -->
        <div class="modal fade" id="modal-jcole" tabindex="-1" role="dialog" aria-labelledby="soundcloud" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-body">
                    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/432431442&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- /End Modal #1-->
    <!-- Modal #2-->
    <div id="modal">
        <!-- <button type="button" class="btn btn-dark" data-toggle="modal" data-target=".bd-modal-lg"></button> -->
        <div class="modal fade" id="modal-mantra" tabindex="-1" role="dialog" aria-labelledby="soundcloud" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-body">
                    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/488135934&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- /End Modal #2-->
    <!-- /End Modals-->





{{!-- <!-- Clients -->
<div id="portfolio" class="section md-padding bg-grey">

	<!-- Container -->
	<div class="container">

		<!-- Row -->
		<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Clients</h2>
				</div>
				<!-- /Section header -->

        <!-- Work -->
        {{#each clients}}
          <div class="col-md-4 col-xs-6 work" data-id={{this.id}}>
	          <img class="img-responsive" src={{this.picture_url}} alt="{{this.name}}_img">
	          <div class="overlay"></div>
	          <div class="work-content">
		          <span>{{this.name}}</span>
		          <h3></h3>
		          <div class="work-link">
			          <a data-toggle="modal" data-target="#modal-{{this.id}}">
				          <i class="fa fa-soundcloud"></i>
			          </a>
		          </div>
	          </div>
          </div>
        {{/each}}
        <!-- /Work -->

	  </div>
		<!-- /Row -->

	</div>
	<!-- /Container -->

</div>
<!-- /Clients -->

<!-- Modal -->
{{#each clients}}
	<div class="modal fade" id="modal-{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="soundcloud" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-body">
				<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src={{this.soundcloud_url}}></iframe>
			</div>
		</div>
	</div>
{{/each}}
<!-- /End Modal --> --}}