
 
<body>
  <form action="/adminsignup" id="signup" {{this.body}} method="POST">
            <label for="email">Email Address</label>
             <input class="text" name="email" type="email">{{this.body.email}}</input>
        <label for="firstname">Firstname</label>
            <input name="firstname" type="text"> {{this.body.name}} </input>
        <label for="lastname">Lastname</label>
            <input name="lastname" type="text">{{this.body.lastname}} </input>
        <label for="password">Password</label>
            <input  name="password" type="password">{{this.body.password}} </input>
        <button>
                 <input class="btn" type="submit" value=" Admin Sign Up" />
        </button>
    </form>
</body>
 
